@import "../../styles/animations";

#my-apps {
  text-align: center;

  #app-list {
    margin: 0;
    padding: 0;

    .app {
      position: relative;
      width: 10%;
      display: inline-block;
      margin-right: 10px;
      text-align: center;
      overflow: hidden;
      padding: 5px;
      transition: all .3s;
      border-radius: 50%;
      border: 1px solid #c7c7c7;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        background-color: #ffffff66;
      }

      &.bounceIn {
        animation: bounceIn .5s forwards;
      }

      &.app-selected {
        animation: jump .4s forwards ease-out;
        border: 1px solid rgba(0, 0, 0, 0);
        background-color: white;
        @include box-shadow(5px 5px 38px -12px rgba(0, 0, 0, 0.75));
      }

      &.garlic-logo {
        img {
          position: relative;
          top: 2px;
        }
      }

      img {
        max-width: 100%;
      }
    }
  }

  #my-app {
    text-align: center;
    min-height: 42px;

    &.fade-in {
      animation: fadeIn .9s forwards;
    }

    #description {
      margin: 10px 0;
      display: inline-block;
    }

    #link {
      display: inline-block;
      margin-left: 10px;

      a {
        display: inline-block;
        padding: 3px 7px 5px;
        background-color: #28a745;
        text-decoration: none;
        color: white !important;
        transition: all .3s;
        border-radius: 6px;

        &:hover {
          background-color: #1d7b33;
        }

        i {
          margin-left: 5px;
          font-size: .9em;
        }
      }
    }
  }
}