#me {
  span {
    line-height: 40px;
    display: block;
    &#first-name {
      text-transform: uppercase;
      font-size: 2.2em;
    }
    &#last-name {
      text-transform: uppercase;
      font-size: 2.2em;
    }
    &#position {
      margin-top: 10px;
      font-size: 1.3em;
    }
  }
}