@mixin stitches-sprite($x: 0, $y: 0, $width: 0, $height: 0) {
  background-position: $x $y;
  width: $width;
  height: $height;
}

.sprite {
  background: url('../../media/brands.png') no-repeat;
  transform: scale(0.61);
  display: block;

  &.sprite-docker {
    @include stitches-sprite(0, 0, 100px, 100px);
  }

  &.sprite-gulp {
    @include stitches-sprite(-100px, 0, 100px, 100px);
  }

  &.sprite-html {
    @include stitches-sprite(-200px, 0, 100px, 100px);
  }

  &.sprite-jquery {
    @include stitches-sprite(0, -100px, 100px, 100px);
  }

  &.sprite-less {
    @include stitches-sprite(-100px, -100px, 100px, 100px);
  }

  &.sprite-linux {
    @include stitches-sprite(-200px, -100px, 100px, 100px);
  }

  &.sprite-mongodb {
    @include stitches-sprite(0, -200px, 100px, 100px);
  }

  &.sprite-mysql {
    @include stitches-sprite(-100px, -200px, 100px, 100px);
  }

  &.sprite-nodejs {
    @include stitches-sprite(-200px, -200px, 100px, 100px);
  }

  &.sprite-php {
    @include stitches-sprite(-300px, 0, 100px, 100px);
  }

  &.sprite-react {
    @include stitches-sprite(-300px, -100px, 100px, 100px);
  }

  &.sprite-sass {
    @include stitches-sprite(-300px, -200px, 100px, 100px);
  }

  &.sprite-webpack {
    @include stitches-sprite(0, -300px, 100px, 100px);
  }
}
