@import "./brands_spirte";

#skills {
  .skill {
    text-align: center;
    float: left;
    width: 54px;
    padding: 5px;
    height: 80px;
    margin: 0 10px 10px 0;
    position: relative;
    border-right: 1px solid #0060c3b5;
    border-left: 1px solid #0060c3b5;
    border-bottom: 1px solid #0060c3b5;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    visibility: hidden;
    transition: all .5s;
    overflow: hidden;

    &.visible {
      visibility: visible;
      animation: bounceIn .4s forwards ease-out;
    }

    &:last-child {
      margin-right: 0;
    }

    .skill-content {
      position: relative;
      z-index: 2;
    }

    .level-fill {
      position: absolute;
      background-color: #5fa9e0;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      width: 100%;
      bottom: 0;
      left: 0;
      z-index: 1;
      transition: all 1s;

      > div {
        position: relative;
        bottom: 17px;
        width: 100% !important;
      }
    }

    .skill-name {
      font-size: 0.8em;
      position: absolute;
      bottom: 25px;
      left: 0;
      right: 0;
      margin: 0 auto;
      color: white;
    }
    .skill-level {
      font-size: 0.8em;
    }

    i {
      position: relative;
      right: 23px;
      bottom: 20px;
    }
  }
}