#social {
  text-align: center;
  i {
    position: relative;
    margin-right: 10px;
    font-size: 2em;
    cursor: pointer;

    &.fa-facebook {
      color: #4267b2;
    }

    &.fa-linkedin {
      color: #0077B5;
    }

    &.fa-instagram {
      color: #d64e61;
    }

    &:hover {
      animation: jump .5s forwards;
    }
  }
}