#contact {
  i {
    margin-right: 10px;
  }
  span {
    display: block;
    line-height: 30px;

    &.text-machine {
      display: block;
      width: 0;
      overflow: hidden;
      white-space: nowrap;
      animation: typing 3s forwards;
    }
  }
}